@import '../../../../assets/globalStyles.scss';

$iconSize:30px;

.inputContainer {
    width: var(--width);
    height: Min(100%, var(--height));
    background: white;
    box-shadow: 0 0 15px #ccc;
    border-radius: 5px;
    padding: var(--padding);
    position:relative;

    &>input {
        padding: 10px;
        width:100%;
        border: none;
        color: darken(#ccc, 20%);
        font-size:1.1em;

        &:focus {
            outline: none;
        }
    }

    .inputIcon {
        position:absolute;
        right:0;
        top:50%;
        transform:translateY(-50%);
        color: $lightBlue;
        height: $iconSize;
        width: $iconSize;
    }
}
