@import '../../../../../../assets/globalStyles.scss';
@import '../search.sharableStyle.scss';

//$filterHeight,$flexWidth,maxFlexItemWidth is defined in search.sharableStyles.scss

$highLightSize:15px;

.filter {
    height: $filterHeight;
    width: Min($flexItemWidth, $maxFlexItemWidth);
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    font-size: .8em;
    color: lighten(#000000, 50%);

    .filterItem {
        position: relative;
        display: flex;
        align-items: flex-end;

        .filterLabel {
            &.active {
                //background-color: #ccc;
                color: black;
            }
        }

        .highlight {
            position: absolute;
            background: red;
            top: -80%;
            right: -20%;
            //bottom: 30%;
            //right: -15%;
            border-radius: 50%;
            color: white;
            height: $highLightSize;
            width: $highLightSize;
            font-size: .75em;
            @include centerElement();
        }
    }

    .customFilterButton {
        position: absolute;
        bottom: 0;
        left: 0;
        width: Min($flexItemWidth, $maxFlexItemWidth);
        left:50%;
        transform:translate(-50%);
        text-align:left;
        display:flex;
        align-items:center;
    }
}

@media only screen and ( min-width: $medium ){
    .filter{
        .customFilterButton{
            padding:0 4%;
        }
    }
}