@import '../../../assets/globalStyles.scss';

.vendorTestAndProductListItem {
    @include card();
    height: 200px;
    min-width: 200px;
    box-shadow: 0 0 5px #ccc;

    &:not(:last-child) {
        margin: 5px 0;
        margin-right: 10px;
    }

    .vendorTestAndProductListItemHeader {
        .vendorTestAndProductListItemHeaderCount {
            background-color: #ccc;
            padding: 1%;
            display: inline-block;
        }
    }
}