@import '../../../../../../assets/globalStyles.scss';

.bookOrderHome{
    .bookOrderChildMain{
        .selectDate{
            height:5%;
            background-color:$purple;
            color:white;
        }
    }
}